<% include header %>
 <!-- About Me (Right Sidebar) Start -->
                 <div class="col-md-9">
                    <div class="col-md-12 page-body">
                    	<div class="row">
                    		
                            
                            <div class="sub-title">
                           		<h2>About Blogg</h2>
                                <a href="contact"><i class="icon-envelope"></i></a>
                             </div>
                            
                            
                            <div class="col-md-12 content-page">
                              <div class="col-md-12 blog-post">
                            	
                                
                                <!-- My Intro Start -->
                                <div class="post-title margin-bottom-30">
                                    <h1>Hi, I am <span class="main-color">Bohdan Yurchuck</span></h1>
                                    
                                    <ul class="knowledge">
                                      <li class="bg-color-1">HTML 5</li>
                                      <li class="bg-color-6">CSS 3</li>
                                      <li class="bg-color-5">Java Sctipt</li>
                                      <li class="bg-color-2">jQuery</li>
                                      <li class="bg-color-3">Photoshop</li>
                                      <li class="bg-color-4">Node JS</li>
                                     </ul>
                                     
                                   </div>
                                   <!-- My Intro End -->
                                    
                                    
                                    <p>I'm studying web development since 2013. During this time, not few video lessons were done and did dozens of tasks, both for themselves and for production. on my site you will find useful articles on the specialty. And as much interesting content.
                                      <p>The project "Blogg" was developed by me in the process of studying at the courses in <a href="https://www.artinov.com.ua/" target="_blank" data-toggle="tooltip" data-placement="top" title="Artinov School site">Artinov School</a>. Fully implemented front-end and back-end part on the stack of web technologies.</p>
                                      <p>
                                    Also you can look at my <b><a href="work" data-toggle="tooltip" data-placement="top" title="Check out my work.">work</a></b> and order my <b><a href="contact" data-toggle="tooltip" data-placement="top" title="hire me">servise</a></b></p>
                                   
                                 
                                 
                                 <!-- Video Start -->
                                 <div class="video-box margin-top-40 margin-bottom-80">
                                  <div class="video-tutorial">
                                   <a class="video-popup" href="https://www.youtube.com/watch?v=9hDKfBKuXjI" title="My Thought">
                                   <img src="img/trend.png" alt="">
                                   </a>                           
                                  </div>
                                 <p>I suggest you See a video about the trends of modern web development</p>
                                </div>
                                <!-- Video End -->
                                  
                                  
                                  
                                  
                                  <!-- My Service Start -->
                                  <div class="post-title">
                                    <h1>My <span class="main-color">Services</span></h1> 
                                   </div>
                                   
                                  <div class="list list-style-2 margin-top-30">
                                    <ul>
                                      <li>Landing Page</li>
									                    <li>Website card</li>
                                      <li>Adjusting your template</li>
                                      <li>Adapting a site for mobile devices</li>
                                      <li>Optimizing the site load</li>
                                      <li>Writing scripts</li>
                                      <li>Creating web animations</li>
                                     </ul>
                                   </div>
                                   <!-- My Service End --> 
                                  
                                </div>  
                                
                                  <div class="col-md-12 text-center">
                                    <a href="contact" data-toggle="tooltip" data-placement="top" title="Go to the contact page to collaborate" class="load-more-button">Hire</a>
                                   </div>
                                  
                             </div>
                              
                         </div>
                         
 <% include form_subscribe %>
<% include footer%>