<!-- ***************************  Admin panel BEGIN *************************-->
   
                <div class="admin-panel">
                  <ul>
                    <li>
                      <a href="create" class="icon-plus">Create new post</a>
                    </li>
                    <li>
                      <a href="posts" class="icon-user">Show all posts</a>
                    </li>
                    <li>
                      <a href="logout" class="icon-enter">Logout</a>
                    </li>

                  </ul>
                </div>


<!-- ***************************  Admin panel END *************************-->
              