<%  include header %>
 <!-- Contact (Right Sidebar) Start -->
                 <div class="col-md-9">
                    <div class="col-md-12 page-body">
                    	<div class="row">
                    		
                            
                            <div class="sub-title">
                           		<h2>Contact Me</h2>
                                <a href="index"><i class="icon-home"></i></a>
                             </div>
                            
                            
                            <div class="col-md-12 content-page">
                              <div class="col-md-12 blog-post">
                            	
                                
                                
                                <!-- Intro Start -->
                                <div class="post-title margin-bottom-10">
                                   <h1>Do you need <span class="main-color">a website</span>?</h1>
                                   </div>
                                   
                                  <p>I make layout and programming sites. I add all the necessary functionality to the site. I do adaptive layout on Bootstrap, so your site will look great on all devices. Any finished project is finished, I constantly improve my professional level. You can order from me the development of the site from scratch, or contact me for cooperation. I'll take up the work of any complexity, and I'll try to do everything in convenient lines, priyyatnuyu price and most importantly fully meet your wishes</p>
                                     <!-- Intro End -->
                                
                                
                                
                                <!-- Testimonials Start -->
                                <div class="post-title margin-top-50">
                                   <h2>I hope you've checked <a href="work" data-toggle="tooltip" data-placement="top" title="Check out my work.">my work</a>, Let's take a look on what other clients said about my work.</h2>
                                   </div>
                                   
                              
                              <div class="row">
                               
                    <div class="col-md-6 col-sm-6 col-xs-12">
                     <div class="testimonial-content">
									<p>I really liked the efficiency of Bogdan. My site was ready and posted on the Internet on the second day after the order. I recommend!</p>
								    </div>
                                 
								  <div class="testimonial-client-info">
								    
                                    <div class="testimonial-client client-thumb">
								      <img src="img/customer/customer.png" alt="">
									</div>
									
                                    <div class="client-text">
									   <div class="client-name">Oksi Darovik</div>
									   <span>Photographer</span> 
                     <br>
                     <span><a href="http://oksyphoto.zzz.com.ua/" target="_blank" title="Go to customer's site">oksyphoto.com.ua</a></span>
									</div>
								  </div>
                  </div>
                                 
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                 <div class="testimonial-content">
									<p>Bogdan worked with me in a team as a template for an online store of children's clothing. Did everything in time. Execution is satisfied!</p>
								    </div>
                                 
								  <div class="testimonial-client-info">
								    
                                    <div class="testimonial-client client-thumb">
								      <img src="img/customer/customer1.jpg" alt="">
									</div>
									
                                    <div class="client-text">
									   <div class="client-name">Sabina Mamedova</div>
									   <span>Web-developer</span> 
                     <br>
                     <span><a href="http://vidpovidi.artowl.net/" target="_blank" title="Go to customer's site">vrkids.com</a></span>
									</div>
								  </div>
                                 </div>
                                 
                                <div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-12">
                                 <div class="testimonial-content">
									<p>Bogdan helped our IT department write scripts and optimize the site. Work were satisfied. Recommended!</p>
								    </div>
                                 
								  <div class="testimonial-client-info">
								    
                                    <div class="testimonial-client client-thumb">
								      <img src="img/customer/customer2.jpg" alt="">
									</div>
									
                                    <div class="client-text">
									   <div class="client-name">Andry Pankov</div>
									   <span>Sport Service, CEO</span>
                     <br>
                     <span><a href="https://sports-services.ru/" target="_blank" title="Go to customer's site">sports-services.ru</a></span>
									</div>
								  </div>
                                 </div>
                                 
                                </div>
                                <!-- Testimonials  End -->
                                
                                
                               
                               
                               <!-- Contact Me Start -->
                               <div class="post-title margin-top-70" id="contacts">
                                  <h1>Contact <span class="main-color">Me</span></h1>
                                 </div>
                                   
                                   
                                 <div class="row">
            
                                   <div class="col-md-4 col-sm-4">
                                     <div class="contact-us-detail">  
                                      <i class="icon-screen-smartphone color-6"></i>
                                      <p><a href="tel:+1234567890">+38 096 17 45 762</a></p>
                                    </div>
                                   </div>
               
                                   <div class="col-md-4 col-sm-4">
                                     <div class="contact-us-detail">
                                      <i class="icon-envelope-open color-5"></i>
                                      <p><a href="mailto:tigermax139@gmail.com">yurchuck.dev@gmail.com</a></p>
                                    </div>
                                   </div>
                 
                                   <div class="col-md-4 col-sm-4">
                                     <div class="contact-us-detail">
                                      <i class="icon-clock color-3"></i>
                                      <p>Пн - Пт 09:00 – 18:00</p>
                                    </div>
                                  </div>
              
                                </div>
            
         
                                <div class="row margin-top-30">
                                  <div class="col-md-12">   
                 
                                  <div class="row">
  <% if(msg) { %>
    <h4><%= msg %></h4>
  <% } else { %>
    <h4>Your message not send</h4>
  <% } %>
<form method="POST" action="send">
                    
					                <div class="col-sm-6">
						              <div class="form-group">
						               <input type="text" id="name" name="senderName" class="form-control" placeholder="Your Name" required>
						              </div>
                                     </div>
								
                                    <div class="col-sm-6">
					                  <div class="form-group">
						               <input type="email" id="email" name="senderEmail" class="form-control" placeholder="Your Email" required>
						              </div>
                                     </div>
                        
                                    <div class="col-sm-6">
						              <div class="form-group">
							           <input type="text" id="website" name="senderSite" class="form-control" placeholder="Your Website">
						              </div>
                                     </div>
                          
                                    <div class="col-sm-6">
						              <div class="form-group">
							           <input type="text" id="address" name="senderAddress" class="form-control" placeholder="Where are You From?" required>
						              </div>
                                     </div>
								
                                    <div class="col-sm-12">
						              <select id="subject" name="senderSubject" class="form-group form-control" required>
							             <option value="" selected disabled>Subject</option>
							             <option>Site development</option>
							             <option>Adjusting the template</option>
						                <option>Help in writing scripts</option>
                            <option>Adapting a site for mobile devices</option>
							             <option>I want to communicate</option>
                            <option>Other</option>
						               </select>
                                     </div>
								
                                    <div class="col-sm-12">
					                  <div class="textarea-message form-group">
					                    <textarea id="message" name="senderMessage" class="textarea-message form-control" placeholder="Your Message" rows="5"></textarea>
						            </div>
                                   </div>
                   
                   
                                <div class="text-center">      
		                          <button type="submit" class="load-more-button">Send</button>
                             
	                             </div>
                       
                                 </form>
                                </div>
                              </div>
                             </div>
                             <!-- Contact Me End -->
                                
                         
                         </div>
                        </div>
                       </div>

<% include form_subscribe%>

<% include footer %>