        <!-- Subscribe Form Start -->
        <div class="col-md-8 col-md-offset-2">
   
          
						<form id="form_sub" method="post" action="subscribe">

						  <div class="subscribe-form margin-top-20">
							     <input id="mc-email" type="email" name="subscriberEmail" placeholder="Email Address" class="text-input" required>
							     <button class="submit-btn" type="submit">Submit</button>
							</div>
                                <p>Subscribe to my weekly newsletter</p>
								<label for="mc-email" class="mc-label"></label>
          </form>
             
           </div>
           <!-- Subscribe Form End -->