 <!-- Blog Post Start -->
                <div class="col-md-12 blog-post">
                    <div class="post-title">
                      <a href="single.html"><h1>How to make your company website based on bootstrap framework on localhost?</h1></a>
                    </div>  
                    <div class="post-info">
                    	<span>November 23, 2016 / by <a href="#" target="_blank">Alex Parker</a></span>
                    </div>  
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique temporibus tempora dicta soluta? Qui hic, voluptatem nemo quo corporis dignissimos voluptatum debitis cumque fugiat mollitia quasi quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae ut ratione similique.</p>                          			
                    <a href="single.html" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
                </div>
<!-- Blog Post End -->