<% include header %>
 <!-- Portfolio (Right Sidebar) Start -->
                 <div class="col-md-9">
                    <div class="col-md-12 page-body">
                    	<div class="row">
                    		
                            
                            <div class="sub-title">
                           		<h2>My Portfolio</h2>
                                <a href="contact"><i class="icon-envelope"></i></a>
                             </div>
                            
                            
                            <div class="col-md-12 content-page">
                              <div class="col-md-12 blog-post">
                            	
                                
                                <!-- Intro Start -->
                                <div class="post-title margin-bottom-30">
                                    <h1>I propose to look at <span class="main-color">my works</span></h1>
                                   </div>
                                   <!-- Intro End -->
                                   
                                   
                                   
                                   
                             <!-- Portfolio Start -->
                             <div>
                          
                               
                               <!-- Portfolio Detail Start -->
                               <div class="row portfolio">
                                 <div class="col-sm-6 custom-pad-1">
                                     <img src="img/works/photo_by_oksy.png" class="img-responsive" alt="">
                                  </div>
                
                         
                                 <div class="col-sm-6 custom-pad-2">
                                   <div class="table-responsive">
                                    <table class="table table-bordered">
						             <tbody>
							     
                                     <tr>
								      <td><b>Skills</b></td>
								      <td>HTML5 / CSS3 / Photoshop</td>
							         </tr>
                                  
                        <tr>
								      <td><b>Duration</b></td>
								      <td>1 Days</td>
							         </tr>
							
                                     <tr>
<!-- 								      <td><b>Cost</b></td>
								      <td>500 uan</td> -->
							         </tr>
                            
                                     <tr>
								      <td><b>Url</b></td>
								      <td><a href="http://oksyphoto.zzz.com.ua" title="">Rolling</a></td>
							         </tr>
                            
                                     <tr>
								      <td><b>About Project</b></td>
								      <td>My first site for production. Did for the girl who started doing photography. Design, layout, logo, my work.</td>
							         </tr>
						          </tbody>
					            </table>

                              </div>
                            </div>
                           </div>
                           <!-- Portfolio Detail End -->
                           
                          
                               
                               <!-- Portfolio Detail Start -->
                               <div class="row portfolio">
                                 <div class="col-sm-6 custom-pad-1">
                                   <div class="image-carousel">
                                     <img src="img/works/barbershop.png" class="img-responsive" alt="">
                                     <img src="img/works/barbershop2.png" class="img-responsive" alt="">
                                     <img src="img/works/barbershop3.png" class="img-responsive" alt="">
                                    </div>
                                  </div>
                
                         
                                 <div class="col-sm-6 custom-pad-2">
                                   <div class="table-responsive">
                                    <table class="table table-bordered">
						             <tbody>
							     
                                     <tr>
								      <td><b>Skills</b></td>
								      <td>HTML5 / CSS3 / JAVASCRIPT / Photoshop</td>
							         </tr>
                                  
                                     <tr>
								      <td><b>Duration</b></td>
								      <td>7 Days</td>
							         </tr>
							
                                     <tr>
<!-- 								      <td><b>Cost</b></td>
								      <td>$5000</td> -->
							         </tr>
                            
                                     <tr>
								      <td><b>Url</b></td>
								      <td><a href="https://rawgit.com/tigermax139/myFirstWorks/master/myFirstWorks/barbershop-index.html" title="">Rolling</a></td>
							         </tr>
                            
                                     <tr>
								      <td><b>About Project</b></td>
								      <td>The site was made while studying at the HTML Academy, the site is one of my favorites, I advise you to come and see.</td>
							         </tr>
						          </tbody>
					            </table>

                              </div>
                            </div>
                           </div>
                           <!-- Portfolio Detail End -->
                           
                           
                               
                               <!-- Portfolio Detail Start -->
                               <div class="row portfolio">
                                 <div class="col-sm-6 custom-pad-1">
                                     <img src="img/works/casino.png" class="img-responsive" alt="">
                                  </div>
                
                         
                                 <div class="col-sm-6 custom-pad-2">
                                   <div class="table-responsive">
                                    <table class="table table-bordered">
						             <tbody>
							     
                                     <tr>
								      <td><b>Skills</b></td>
								      <td>HTML5 / CSS3 </td>
							         </tr>
                                  
                                     <tr>
								      <td><b>Duration</b></td>
								      <td>6 Hours</td>
							         </tr>
							
                                     <tr>
<!-- 								      <td><b>Cost</b></td>
								      <td>$5000</td> -->
							         </tr>
                            
                                     <tr>
								      <td><b>Url</b></td>
								      <td><a href="https://rawgit.com/tigermax139/tigermax139.github.io/master/casino/index.html" title="">Rolling</a></td>
							         </tr>
                            
                                     <tr>
								      <td><b>About Project</b></td>
								      <td>The training layout, during the course of the courses from the EPAM company.</td>
							         </tr>
						          </tbody>
					            </table>

                              </div>
                            </div>
                           </div>
                           <!-- Portfolio Detail End -->
                           
                           
                           
                               <!-- Portfolio Detail Start -->
                               <div class="row portfolio">
                                 <div class="col-sm-6 custom-pad-1">
                                     <img src="img/works/letyshops.png" class="img-responsive" alt="">
                                  </div>
                
                         
                                 <div class="col-sm-6 custom-pad-2">
                                   <div class="table-responsive">
                                    <table class="table table-bordered">
						             <tbody>
							     
                                     <tr>
								      <td><b>Skills</b></td>
								      <td>HTML5 / CSS3 / JAVASCRIPT</td>
							         </tr>
                                  
                                     <tr>
								      <td><b>Duration</b></td>
								      <td>20 Days</td>
							         </tr>
							
                                     <tr>
								      <td><b>Cost</b></td>
								      <td>$5000</td>
							         </tr>
                            
                                     <tr>
								      <td><b>Url</b></td>
								      <td><a href="https://rawgit.com/tigermax139/tigermax139.github.io/master/letyshops/index.html" title="">Rolling</a></td>
							         </tr>
                            
                                     <tr>
								      <td><b>About Project</b></td>
								      <td>The training layout, during the course of the courses from the EPAM company.</td>
							         </tr>
						          </tbody>
					            </table>

                              </div>
                            </div>
                           </div> 
                           <!-- Portfolio Detail End -->


                          <!-- Portfolio Detail Start -->
                               <div class="row portfolio">
                                 <div class="col-sm-6 custom-pad-1">
                                   <div class="image-carousel">
                                     <img src="img/works/vrkids1.png" class="img-responsive" alt="">
                                     <img src="img/works/vrkids.png" class="img-responsive" alt="">
                                     <img src="img/works/vrkids2.png" class="img-responsive" alt="">
                                     <img src="img/works/vrkids3.png" class="img-responsive" alt="">
                                    </div>
                                  </div>
                
                         
                                 <div class="col-sm-6 custom-pad-2">
                                   <div class="table-responsive">
                                    <table class="table table-bordered">
                         <tbody>
                   
                                     <tr>
                      <td><b>Skills</b></td>
                      <td>HTML5 / CSS3 / JAVASCRIPT / Bootstrap</td>
                       </tr>
                                  
                                     <tr>
                      <td><b>Duration</b></td>
                      <td>5 Days</td>
                       </tr>
              
<!--                                      <tr>
                      <td><b>Cost</b></td>
                      <td>$5000</td>
                       </tr> -->
                            
                                     <tr>
                      <td><b>Url</b></td>
                      <td><a href="http://vidpovidi.artowl.net" title="">Rolling</a></td>
                       </tr>
                            
                                     <tr>
                      <td><b>About Project</b></td>
                      <td>Children's clothing store, for girls. It is executed in gentle and soft tones, the spark was issued by the customer.</td>
                       </tr>
                      </tbody>
                      </table>

                              </div>
                            </div>
                           </div>
                           <!-- Portfolio Detail End -->
                          
                         </div>
                         <!-- Portfolio End -->
                                   
                                 
                             </div>  
                                
                               <div class="col-md-12 text-center">
                                 <a href="javascript:void(0)" id="load-more-portfolio" class="load-more-button">Load</a>
                                 <div id="portfolio-end-message"></div>
                                </div>
                                  
                             </div>
                              
                         </div>

<% include form_subscribe %>

<% include footer %>